.nameBtn
  color $g0
  margin-bottom 0.5rem
  border 3px solid transparent
  box-sizing border-box
  padding 0.25rem
  margin-right 0.25rem
  width 150px
  height 2.5rem


.bulbBtn
  padding 0.35rem
  height 2.5rem
  opacity 0.4
  color $g0

.nameBtn:hover
  opacity 0.3
  border 3px dashed $g0
  
// .bulbImg
//   padding 0
//   margin 0
//   width 18px
//   height 18px

.eye
  // align right
  float right