// normal button state

.nameBtn
  color $g0
  margin-bottom 0.5rem
  border 3px solid transparent
  box-sizing border-box
  padding 0.25rem
  margin-right 0.25rem
  width 150px
  height 2.5rem


.eye
  float right

.bulbBtn
  padding 0.35rem
  height 2.5rem
  opacity 0.4
  color $g0

#xAxis path
  stroke none
  
#xAxis text
  font-size 1.25rem 

.yAxis
  stroke-width 4px

.yAxis text
  font-size 1rem

.yAxis:hover
  stroke-width 6px
  cursor ew-resize
  transition all .51s linear
  
.path 
  stroke-width 6px
  fill none
  transition all 0.05s ease-in
  
  
.yAxis text.label
  font-size 1.5rem
  fill black

.nameBtn:hover
  transition all 2s linear
  border 3px dashed $g0

.dimmedButton
  opacity 0.3
  border 3px dashed $g0

.dimmedPath
  transition all 0.5s linear
  stroke-width 3px
  stroke-dasharray 8,8
  opacity 0.5

.fatPath
  transition all 0.5s linear
  stroke-width 10px
